body {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Special Elite', cursive;
}

body, html {
  height: 100%;
}

.gn-bg-img {
 
  background-image: url("../img/blossom-bg.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  opacity: 60%;
}

.gn-intro-text {
  font-family: 'Special Elite', cursive;
  color: white;
  font-weight: bold;
  position: absolute;
  font-size: 5vw;
  top: 40%;
  left: 72%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.gn-footer {
  border-top: 2px;
  background-color: rgb(209, 227, 255);
  border-top-color: transparent;
}

.gn-white-font-bg {
  color: white;
  -webkit-text-stroke: .3px black;
}

.gn-dark-font-bg {
  color: rgb(37, 5, 41);
  -webkit-text-stroke: .1px black;
}
